.blog-body {
    background-color: black;
}

.blog-container {
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(50, 170, 170, 0.44);

}

.blog-container1 {
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(50, 170, 170, 0.44);
    display: flex;
    justify-content: center;
}

.add-btn {
    background-color: transparent;
    color: aqua;
    border: 1px double aqua;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
hr {
    background-color: rgba(0, 255, 255, 0.5); 
    height: 1px; 
    border: none;
    margin: 20px 0; 
}

.blog-container1 img {
    height: 300px;
    object-fit: cover;
}

.blog-container2 {
    flex-grow: 1;
    padding: 0 20px;
}

.blog-container2 h1 {
    margin: 0;
    font-size: 24px;
    color: aqua;

}

.blog-container2 p {
    font-size: 16px;
    color: aqua;
}
@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.delete-btn {
    position: relative;
    right: 20px;
    top: -70px;
    height: 60px;
    transition: transform 0.2s;
}

.delete-btn:hover {
    animation: tilt 1s infinite;
}



.blog-add-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.blog-add-form {
    background-color: rgba(0, 0, 0, 0.901);
    padding: 20px 30px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.blog-add-form h2 {
    text-align: center;
    color: aqua;
}

.blog-add-form input,
.blog-add-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.blog-add-form input::placeholder,
.blog-add-form textarea::placeholder {
    font-size: larger;
    color: black;
}

.blog-add-buttons {
    display: flex;
    justify-content: space-between;
}

.blog-add-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: aqua;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}


.blog-add-buttons button:last-child {
    background-color: crimson;
    color: white
}